.section-3 {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../images/section-3.png);

  .section-wrapper {
    height: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: linear-gradient(229.33deg, rgba(14, 20, 20, 0.1) -41.78%, rgba(14, 20, 20, 0.2) 100.54%);
  }

  .section-heading {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    .menu {
      width: 2.5rem;
      height: 2.5rem;
      cursor: pointer;
      transition: all .3s ease-in-out;
      &:hover {
        transform: scale(1.2);
      }
    }
  }

}

@media all and (min-device-width: 320px) and (max-device-width: 720px) {

  .section-3 {
    width: 100vw;

    .section-wrapper {
      height: 12rem;
      padding: 1rem 1.25rem;
    }

    .section-heading {
      .menu {
        width: 2rem;
        height: 2rem;
      }
    }

  }

}
