.section-1 {
  display: grid;
  grid-gap: 1.2rem;
  color: var(--white);
  padding: 2rem 2.5rem;
  position: relative;
  background-color: var(--dark);
  grid-template-columns: 1rem 1fr;
  grid-template-rows: 2.25rem 18rem auto;

  .heading {
    display: flex;
    grid-column: 1/-1;
    align-items: center;
    justify-content: space-between;
    .logo {
      cursor: pointer;
    }
    .languages {
      display: flex;
      align-items: center;
      .language {
        cursor: pointer;
        margin-left: 1rem;
      }
    }
  }

  .scroll-img-component {
    cursor: pointer;
    height: 18rem;
    z-index: 2;
  }

  .plane-img-component {
    z-index: 2;
    top: -6.5rem;
    right: -2.5rem;
    position: absolute;
    transform: scale(.8);
    pointer-events: none;
  }

  .world-map {
    left: 0;
    bottom: 0;
    z-index: 1;
    height: 18rem;
    position: absolute;
    pointer-events: none;
  }

  .main-component {
    z-index: 2;
    height: 18rem;
    position: relative;
    padding-top: .5rem;
    padding-left: .75rem;
  }

  .app-title {
    width: 20rem;
    height: 7.7rem;
    pointer-events: none;
    margin-bottom: 1.5rem;
  }

  .app-caption {
    font-weight: 400;
    line-height: 1.5;
    font-size: .7rem;
    max-width: 20rem;
    margin-bottom: 1.5rem;
    letter-spacing: 0.01rem;
  }

  .call-to-action {
    display: flex;
    cursor: pointer;
    align-items: center;
    padding: .65rem 2rem;
    border-radius: 0.1rem;
    letter-spacing: 0.01rem;
    background-color: var(--blue);
    transition: all .3s ease-in-out;
    &:hover {
      background-color: darken(#0F4EAA,5);
    }
    .cta-text {
      font-weight: 400;
      font-size: 0.75rem;
      margin-right: .75rem;
    }
    .cta-icon {
      width: 1.25rem;
      height: 1.25rem;
    }
  }

}

@media all and (min-device-width: 320px) and (max-device-width: 720px) {

  .section-1 {
    width: 100vw;
    grid-gap: 0rem;
    padding: 1rem 0;
    grid-template-columns: 1fr;
    grid-template-rows: 2.25rem auto;

    .scroll-img-component {
      display: none;
    }

    .heading {
      padding: 0 1.25rem;
    }

    .main-component {
      z-index: 2;
      height: auto;
      overflow: hidden;
      padding: 2rem 1.25rem;
    }

    .plane-img-component {
      z-index: 1;
      top: -2rem;
      width: 100%;
      right: -7rem;
      opacity: 0.55;
      transform: scale(.8);
    }

    .world-map {
      width: 100%;
      height: auto;
      opacity: .5;
    }

    .app-title {
      width: 100%;
      height: auto;
      margin-bottom: 1rem;
    }

    .app-caption {
      max-width: 100%;
      text-align: justify;
    }

    .call-to-action {
      z-index: 2;
      position: relative;
    }

  }

}
