.section-4 {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../images/section-4.png);

  .section-wrapper {
    height: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: linear-gradient(229.33deg, rgba(14, 20, 20, 0.1) -41.78%, rgba(14, 20, 20, 0.2) 100.54%);
  }

  .section-heading {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    .play-button {
      top: -2.75rem;
      left: -2.5rem;
      width: 4.5rem;
      height: 4.5rem;
      cursor: pointer;
      position: absolute;
      transition: all .3s ease-in-out;
      &:hover {
        transform: scale(1.2);
      }
    }
  }

}


@media all and (min-device-width: 320px) and (max-device-width: 720px) {

  .section-4 {
    width: 100vw;

    .section-wrapper {
      height: 10rem;
      padding: 1rem 1.25rem;
      background: linear-gradient(229.33deg, rgba(14, 20, 20, 0.2) -41.78%, rgba(14, 20, 20, 0.75) 100.54%)
    }

    .section-heading {
      .play-button {
        top: 0;
        left: 0;
        right: 0;
        width: 2rem;
        height: 2rem;
        position: relative;
      }
    }

  }

}
